:root{
  --box-shadow:2px 2px 10px 20px rgba(101,175,10,0.5);
  --bg-color: rgb(15, 42, 90);
}

body{
  background-color: rgb(246, 231, 209);
  color: white;
}
a{
  text-decoration: none;
  color: white;
}

.nav_bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_items{
  padding: 20px;
  font-weight: bold;
  font-size: 1.5rem;
}
 .left{
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 20px;
}
.left:hover{
  border-bottom: 2px solid white;
}
.nav_items:hover{
  border-bottom: 2px solid white;
}
.home{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
}
.home .left1{
  background-color: var(--bg-color);
  width: 650px;
  text-align: center;
  padding: 30px;
  border-radius: 1000px;
  box-shadow: var(--box-shadow);
}
.home .right1 .img{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.home .right1 .img img{
  width: 300px;
  height: 300px;
  margin-left: 50px;
  border: 5px solid rgb(183, 183, 120);
  border-radius: 100%;
  animation-name: pushpa;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}


.skills{
  
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink:1;
  flex-basis: auto;
}
.skills .items{
  flex-wrap: wrap;
  width: 700px;
  margin-left: 70px;
  display: flex;
  align-items: center;
  justify-content: center;  
}
.skills .items .item{
   width:calc(33.33%);
   background-color: black;
   margin: 20px;
   display: flex;
  align-items: center;
  justify-content: center;  
   padding: 20px;
   width: 240px;
   border-radius: 10px;
   border: 1px solid yellow;
   box-shadow: 2px 2px 5px 3px green;
}
.skills .items .item img{
  width: 100px;
}
.contact-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}
.contact-icon .items{
  background-color: black;
  margin: 10px;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 2px solid yellow;
}
.contact-icon .items:hover{
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);
}
@media screen and (max-width:806px){
 .items{
  flex-direction: column;
     
}

.container .items{
  width: auto;
}
.item{
  width: auto;
}

}



